{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets '@FmPaymentPaymillBundle/Resources/assets/css/paymill.css' %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
  {% endstylesheets %}
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ paymill_initialize() }}
{% endblock %}

{% block body %}
  {% form_theme form 'FmPaymentPaymillBundle::form.html.twig' %}
  <form action="{{ path('orders_checkout', {'id': order.id}) }}"
      method="post" autocomplete="on" novalidate class="paymill">
    {{ form_widget(form) }}

    <input type="submit" class="mm-btn-success" value="Buy now" />
    <div class="payment-errors"></div>
  </form>
{% endblock %}